In [1]:
import torch
import torchvision
import pandas as pd

In [2]:
ls

Train Transformer 1.ipynb  dataloader.py
__pycache__/

In [3]:
from dataloader import *

In [4]:
comment_df = pd.read_csv("../data/attack_annotated_comments.tsv", sep ='\t')
body_df = pd.read_csv("../data/fake_news_bodies.csv")
stance_df = pd.read_csv("../data/fake_news_stances.csv")
vocab = Vocabulary([comment_df["comment"], body_df["articleBody"], stance_df["Headline"]])
annotation_df = pd.read_csv("../data/attack_annotations.tsv",  sep='\t')

wiki_dataset = WikiDataset(comment_df, annotation_df, vocab)
fake_news_dataset = FakeNewsDataset(body_df, stance_df, vocab)

In [5]:
comment_df.head()

,rev_id,comment,year,logged_in,ns,sample,split
0,37675,`-NEWLINE_TOKENThis is not ``creative``. Thos...,2002,False,article,random,train
1,44816,`NEWLINE_TOKENNEWLINE_TOKEN:: the term ``stand...,2002,False,article,random,train
2,49851,"NEWLINE_TOKENNEWLINE_TOKENTrue or false, the s...",2002,False,article,random,train
3,89320,"Next, maybe you could work on being less cond...",2002,True,article,random,dev
4,93890,This page will need disambiguation.,2002,True,article,random,train

In [6]:
body_df.head()

,Body ID,articleBody,sentence_as_idx
0,0,A small meteorite crashed into a wooded area i...,"[2, 126, 2627, 7088, 36713, 1541, 126, 64723, ..."
1,4,Last week we hinted at what was to come as Ebo...,"[2, 978, 9959, 301, 27551, 181, 184, 243, 21, ..."
2,5,(NEWSER) – Wonder how long a Quarter Pounder w...,"[2, 453967, 6041, 843, 446, 1764, 126, 28996, ..."
3,6,"Posting photos of a gun-toting child online, I...","[2, 6277, 11409, 13, 126, 185851, 6544, 7820, ..."
4,7,At least 25 suspected Boko Haram insurgents we...,"[2, 181, 425, 2299, 27854, 420528, 12253, 1034..."

In [7]:
stance_df.head()

                                            Headline  Body ID     Stance
0  Police find mass graves with at least '15 bodi...      712  unrelated
1  Hundreds of Palestinians flee floods in Gaza a...      158      agree
2  Christian Bale passes on role of Steve Jobs, a...      137  unrelated
3  HBO and Apple in Talks for $15/Month Apple TV ...     1034  unrelated
4  Spider burrowed through tourist's stomach and ...     1923   disagree

In [39]:
stance_df['Stance'].unique()

array(['unrelated', 'agree', 'disagree', 'discuss'], dtype=object)

In [38]:
annotation_df.head()

,rev_id,worker_id,quoting_attack,recipient_attack,third_party_attack,other_attack,attack
0,37675,1362,0.0,0.0,0.0,0.0,0.0
1,37675,2408,0.0,0.0,0.0,0.0,0.0
2,37675,1493,0.0,0.0,0.0,0.0,0.0
3,37675,1439,0.0,0.0,0.0,0.0,0.0
4,37675,170,0.0,0.0,0.0,0.0,0.0

In [50]:
fake_news_dataset.y.mean(axis=0)

array([0.73130953, 0.07360122, 0.01680941, 0.17827984])

In [22]:
(wiki_dataset.x)

array([list([2, 1, 239, 5, 6, 7, 8, 9, 10, 11, 12, 13, 10, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 16, 37, 38, 16, 39, 40, 41, 42, 43, 21, 26, 44, 45, 16, 46, 9, 47, 48, 16, 44, 49, 50, 51, 1, 10, 53, 24, 54, 5, 55, 56, 24, 57, 58, 59, 60, 10, 61, 62, 13, 63, 64, 65, 18, 66, 67, 68, 69, 70, 10, 71, 72, 73, 10, 74, 35, 75, 76, 77, 78, 10, 79, 51, 80, 81, 82, 10, 83, 23, 84, 85, 86, 28, 87, 88, 89, 77, 21, 90, 91, 92, 93, 94, 95, 96, 97, 450, 754, 99, 13, 100, 60, 101, 102, 10, 103, 104, 105, 106, 33, 107, 16, 108, 5, 109, 110, 13, 111, 112, 113, 23, 87, 114, 21, 115, 116, 117, 118, 42, 119, 120, 121, 122, 21, 123, 124, 6, 125, 21, 126, 127, 128, 129, 97, 130, 131, 16, 124, 132, 10, 1, 108, 5, 126, 134, 117, 67, 116, 135, 23, 40, 136, 51, 137, 138, 139, 140, 141, 142, 143, 95, 144, 18, 145, 67, 146, 24, 141, 147, 148, 23, 10, 149, 5, 150, 151, 67, 152, 16, 153, 13, 154, 155, 23, 40, 157, 158, 159, 160, 95, 161, 51, 10, 162, 163, 67, 164, 165, 166, 24, 167, 40, 168, 169, 170, 171, 172, 124, 173, 174, 175, 176, 177, 178, 16, 179, 180, 181, 182, 91, 24, 183, 184, 185, 24, 186, 77, 170, 142631, 1888, 188, 189, 5, 6, 56, 190, 110, 13, 14, 5, 191, 109, 192, 193, 194, 195, 16, 137, 196, 21, 54584, 239, 5, 116, 198, 6, 199, 24, 200, 201, 10, 202, 28, 77, 88, 42, 203, 91, 204, 205, 206, 13, 207, 60, 208, 77, 209, 67, 164, 210, 95, 211, 21, 212, 213, 214, 141, 215, 216, 217, 216, 218, 219, 9, 220, 67, 221, 54, 82, 173, 222, 223, 224, 67, 173, 225, 226, 5, 57, 126, 227, 21, 10, 21050, 23, 229, 136, 230, 21, 231, 126, 232, 141, 233, 234, 235, 137, 236, 237, 638, 23, 239, 5, 126, 139, 140, 28, 240, 126, 139, 241, 91, 77, 242, 184, 40, 243, 244, 21, 28127, 975, 3]),
       list([2, 975, 78006, 10, 247, 248, 249, 5, 250, 251, 252, 112, 87, 253, 254, 1, 78006, 23, 240, 256, 257, 39, 126, 258, 13, 259, 260, 261, 40, 48, 262, 263, 10, 264, 265, 266, 262, 267, 268, 13, 793, 78006, 10, 270, 271, 124, 239, 272, 273, 42, 274, 275, 276, 48, 91, 18, 87, 277, 77, 273, 278, 279, 280, 13, 281, 141, 10, 282, 283, 284, 285, 237, 10, 286, 275, 287, 265, 78006, 18, 21, 289, 240, 290, 77, 291, 234, 9, 67, 292, 229, 5, 293, 294, 124, 295, 296, 239, 5, 6, 297, 126, 298, 299, 296, 300, 77, 301, 302, 10, 303, 72, 5, 40, 173, 304, 305, 306, 18, 24, 307, 6, 308, 21, 309, 3]),
       list([2, 2319, 95, 311, 10, 312, 18, 13, 313, 152, 243, 314, 126, 316, 317, 13, 318, 124, 319, 16, 320, 82, 180, 321, 322, 243, 323, 10, 324, 10, 317, 243, 21, 42, 220, 325, 82, 10, 321, 326, 243, 10, 324, 10, 327, 328, 10, 329, 13, 330, 331, 332, 10, 333, 13, 10, 334, 335, 336, 337, 3]),
       ...,
       list([2, 227182, 1160, 1424, 633, 21, 6770, 40, 67, 239, 272, 5, 18, 23, 40, 243, 137, 1208, 1987, 1590, 544, 6978, 443, 40, 18, 9647, 5603, 7883, 943, 51, 453939, 627, 11922, 1528, 3]),
       list([2, 6598, 12511, 6598, 108, 5, 1747, 126, 378376, 3285, 1978, 342, 230, 16, 126, 31429, 2846, 21, 53180, 10, 8773, 3452, 831, 1119, 5153, 21, 3284, 793, 10, 272, 40093, 12199, 1158, 28441, 18, 77, 5642, 77, 5, 6, 703, 1560, 240, 6, 13567, 18, 87, 434, 1119, 6515, 124, 9906, 1398, 87, 876, 4348, 77, 87, 441, 24294, 85, 18114, 124, 26595, 82, 10, 5974, 3663, 16, 12747, 23665, 1378, 10, 40093, 12199, 744, 2827, 6, 13567, 87, 7964, 77, 87, 434, 6, 302583, 91, 24, 258, 3745, 21, 1550, 10, 3523, 1362, 40, 41, 73, 42, 12860, 438, 67, 126, 18066, 7705, 957, 24, 88, 58798, 239, 2121, 124, 1006, 11918, 23, 24, 5065, 87, 41, 6, 42, 11327, 16, 23, 624, 10, 12511, 5, 37614, 12843, 39, 296, 42, 450, 3]),
       list([2, 25515, 1, 5, 108, 1226, 1324, 107150, 392, 21, 212, 173, 272, 97, 10, 127224, 12635, 18, 126, 2993, 77, 10, 1188, 12635, 6986, 88, 42, 12681, 1504, 95, 530, 77, 11647, 126, 24517, 754, 6, 3259, 12188, 4272, 3])],
      dtype=object)

In [26]:
np.mean(wiki_dataset.y)

0.11729268797900988