In [1]:
import torch
import torchvision
import pandas as pd

In [2]:
ls

Train Transformer 1.ipynb  dataloader.py
__pycache__/

In [3]:
from dataloader import *

In [4]:
comment_df = pd.read_csv("../data/attack_annotated_comments.tsv", sep ='\t')
body_df = pd.read_csv("../data/fake_news_bodies.csv")
stance_df = pd.read_csv("../data/fake_news_stances.csv")
vocab = Vocabulary([comment_df["comment"], body_df["articleBody"], stance_df["Headline"]])
annotation_df = pd.read_csv("../data/attack_annotations.tsv",  sep='\t')

wiki_dataset = WikiDataset(comment_df, annotation_df, vocab)
fake_news_dataset = FakeNewsDataset(body_df, stance_df, vocab)

In [5]:
comment_df.head()

,rev_id,comment,year,logged_in,ns,sample,split
0,37675,`-NEWLINE_TOKENThis is not ``creative``. Thos...,2002,False,article,random,train
1,44816,`NEWLINE_TOKENNEWLINE_TOKEN:: the term ``stand...,2002,False,article,random,train
2,49851,"NEWLINE_TOKENNEWLINE_TOKENTrue or false, the s...",2002,False,article,random,train
3,89320,"Next, maybe you could work on being less cond...",2002,True,article,random,dev
4,93890,This page will need disambiguation.,2002,True,article,random,train

In [6]:
body_df.head()

,Body ID,articleBody,sentence_as_idx
0,0,A small meteorite crashed into a wooded area i...,"[2, 126, 2627, 7088, 36713, 1541, 126, 64723, ..."
1,4,Last week we hinted at what was to come as Ebo...,"[2, 978, 9959, 301, 27551, 181, 184, 243, 21, ..."
2,5,(NEWSER) – Wonder how long a Quarter Pounder w...,"[2, 453967, 6041, 843, 446, 1764, 126, 28996, ..."
3,6,"Posting photos of a gun-toting child online, I...","[2, 6277, 11409, 13, 126, 185851, 6544, 7820, ..."
4,7,At least 25 suspected Boko Haram insurgents we...,"[2, 181, 425, 2299, 27854, 420528, 12253, 1034..."

In [7]:
stance_df.head()

                                            Headline  Body ID     Stance
0  Police find mass graves with at least '15 bodi...      712  unrelated
1  Hundreds of Palestinians flee floods in Gaza a...      158      agree
2  Christian Bale passes on role of Steve Jobs, a...      137  unrelated
3  HBO and Apple in Talks for $15/Month Apple TV ...     1034  unrelated
4  Spider burrowed through tourist's stomach and ...     1923   disagree

In [8]:
annotation_df.head()

,rev_id,worker_id,quoting_attack,recipient_attack,third_party_attack,other_attack,attack
0,37675,1362,0.0,0.0,0.0,0.0,0.0
1,37675,2408,0.0,0.0,0.0,0.0,0.0
2,37675,1493,0.0,0.0,0.0,0.0,0.0
3,37675,1439,0.0,0.0,0.0,0.0,0.0
4,37675,170,0.0,0.0,0.0,0.0,0.0

In [12]:
str(wiki_dataset[0])

'([2, 1, 239, 5, 6, 7, 8, 9, 10, 11, 12, 13, 10, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 16, 37, 38, 16, 39, 40, 41, 42, 43, 21, 26, 44, 45, 16, 46, 9, 47, 48, 16, 44, 49, 50, 51, 1, 10, 53, 24, 54, 5, 55, 56, 24, 57, 58, 59, 60, 10, 61, 62, 13, 63, 64, 65, 18, 66, 67, 68, 69, 70, 10, 71, 72, 73, 10, 74, 35, 75, 76, 77, 78, 10, 79, 51, 80, 81, 82, 10, 83, 23, 84, 85, 86, 28, 87, 88, 89, 77, 21, 90, 91, 92, 93, 94, 95, 96, 97, 450, 754, 99, 13, 100, 60, 101, 102, 10, 103, 104, 105, 106, 33, 107, 16, 108, 5, 109, 110, 13, 111, 112, 113, 23, 87, 114, 21, 115, 116, 117, 118, 42, 119, 120, 121, 122, 21, 123, 124, 6, 125, 21, 126, 127, 128, 129, 97, 130, 131, 16, 124, 132, 10, 1, 108, 5, 126, 134, 117, 67, 116, 135, 23, 40, 136, 51, 137, 138, 139, 140, 141, 142, 143, 95, 144, 18, 145, 67, 146, 24, 141, 147, 148, 23, 10, 149, 5, 150, 151, 67, 152, 16, 153, 13, 154, 155, 23, 40, 157, 158, 159, 160, 95, 161, 51, 10, 162, 163, 67, 164, 165, 166, 24, 167, 40, 168, 169, 170, 171, 172, 124, 173, 174, 175, 176, 177, 178, 16, 179, 180, 181, 182, 91, 24, 183, 184, 185, 24, 186, 77, 170, 142631, 1888, 188, 189, 5, 6, 56, 190, 110, 13, 14, 5, 191, 109, 192, 193, 194, 195, 16, 137, 196, 21, 54584, 239, 5, 116, 198, 6, 199, 24, 200, 201, 10, 202, 28, 77, 88, 42, 203, 91, 204, 205, 206, 13, 207, 60, 208, 77, 209, 67, 164, 210, 95, 211, 21, 212, 213, 214, 141, 215, 216, 217, 216, 218, 219, 9, 220, 67, 221, 54, 82, 173, 222, 223, 224, 67, 173, 225, 226, 5, 57, 126, 227, 21, 10, 21050, 23, 229, 136, 230, 21, 231, 126, 232, 141, 233, 234, 235, 137, 236, 237, 638, 23, 239, 5, 126, 139, 140, 28, 240, 126, 139, 241, 91, 77, 242, 184, 40, 243, 244, 21, 28127, 975, 3], False)'

In [13]:
str(fake_news_dataset[0])

'(array([     2,   9064,    543,   3470,  15547,     60,    181,    425,\n       452490, 473495,   5122,  21717,   5557,    357,  68000,  16242,\n        23610,   2110,   9064,   1329,      3,      2,  12701,  70946,\n            5,  41000,     10,  96790,    748,  88758, 241925,      5,\n           80,  24993,     21,   2433,  15651,   6485,   2316, 455896,\n           67, 461037,   2316,  15887, 458699,  12701,  70946,      5,\n        41000,     10,  96790,   3261,    622,    342,  23209, 285237,\n         3021,     16,  70667,     82,  70848, 457707,    349,      5,\n          221,     13,     10,    544,  53088, 454830,     67,   1309,\n          585,   4478,    434,      6,    297, 265230,     16,  16233,\n            6,    148,    290,     23, 241925,    831,    173,   3011,\n        72889,     91,     10,  10021,   4660,  56424, 457714, 454838,\n       454839,     16,   1775,  19455,   4660,    434,   2883,    513,\n        60239,    342,     10,  44587,     16,      9,     67, 143774,\n           13,   1082,    239,    200,    180,     42,    124,  52674,\n           18,   1078, 196059,     10,  24353,    496,      5,     21,\n         2433,  41083,      5,    293,     67,     10,  20934,     13,\n        24825,    605,  54560,   6978,    277,     77, 461038,   5592,\n            5,     67,    126,  16681,  76155,  91820,    277,  70946,\n           41,      5,   5001,     21,  17207,  17208,     21,  10880,\n           60,  36667,     21,   2433,    221,     13,     10,   7970,\n       240216,    173,  44008,     21,  67804,  91820,    277,     77,\n        61143, 457705,      5,    221,     13,     10,  35746,    342,\n           10,  25097,   3734, 456764,   1359,     18, 461039, 118955,\n        15651,     60,  15887,     16,  24052, 327559,    576,    412,\n         7915,  15887,    461,    234,    668,    181, 191569,     16,\n          418,    243,   4133,    124,    689,     10,    399,  15651,\n        67813,      3]), array([1., 0., 0., 0.]))'