In [1]:
import torch
import torch.nn as nn
import pandas as pd

In [2]:
ls

Train Transformer 1.ipynb  dataloader.py
__pycache__/               models.py

# First, prepare the data

In [3]:
from dataloader import *

In [4]:
# load every dataset manually and create torch objects
comment_df = pd.read_csv("../data/attack_annotated_comments.tsv", sep ='\t')
body_df = pd.read_csv("../data/fake_news_bodies.csv")
stance_df = pd.read_csv("../data/fake_news_stances.csv")
vocab = Vocabulary([comment_df["comment"], body_df["articleBody"], stance_df["Headline"]])
annotation_df = pd.read_csv("../data/attack_annotations.tsv",  sep='\t')

wiki_dataset = WikiDataset(comment_df, annotation_df, vocab)
fake_news_dataset = FakeNewsDataset(body_df, stance_df, vocab)

In [5]:
comment_df.head(2)

,rev_id,comment,year,logged_in,ns,sample,split
0,37675,`-NEWLINE_TOKENThis is not ``creative``. Thos...,2002,False,article,random,train
1,44816,`NEWLINE_TOKENNEWLINE_TOKEN:: the term ``stand...,2002,False,article,random,train

In [6]:
body_df.head(2)

,Body ID,articleBody,sentence_as_idx
0,0,A small meteorite crashed into a wooded area i...,"[2, 126, 2627, 7088, 36713, 1541, 126, 64723, ..."
1,4,Last week we hinted at what was to come as Ebo...,"[2, 978, 9959, 301, 27551, 181, 184, 243, 21, ..."

In [7]:
stance_df.head(2)

                                            Headline  Body ID     Stance
0  Police find mass graves with at least '15 bodi...      712  unrelated
1  Hundreds of Palestinians flee floods in Gaza a...      158      agree

In [8]:
# check label correspondence
stance_df['Stance'].unique()

array(['unrelated', 'agree', 'disagree', 'discuss'], dtype=object)

In [9]:
annotation_df.head(2)

,rev_id,worker_id,quoting_attack,recipient_attack,third_party_attack,other_attack,attack
0,37675,1362,0.0,0.0,0.0,0.0,0.0
1,37675,2408,0.0,0.0,0.0,0.0,0.0

In [10]:
# check label bias
fake_news_dataset.y.mean(axis=0)

array([0.73130953, 0.07360122, 0.01680941, 0.17827984])

In [11]:
# check label bias
wiki_dataset.y.mean(axis=0)

array([0.88270731, 0.11729269])

# Once the data is loaded, prepare the model

In [12]:
from models import *

In [15]:
# simple transformer model, cant be used for classification
vocab_size = len(vocab)
embedding_dim = 64
nhead = 1
hidden_dim = 32
num_layers = 1
feedforward_dim = 64
def model_from_dataset(dataset):
    labels = len(dataset[0][1])
    model = TransformerClassifier(vocab_size, labels, embedding_dim, nhead, feedforward_dim, num_layers)
    return model

In [16]:
model = model_from_dataset([(1, np.array([0, 1, 0]))]) # fake dataset with 3 labels
nparr = np.random.randint(0, vocab_size, size=(5, 25))
x = torch.from_numpy(nparr)
print(x)
print(model(x))

tensor([[201288, 133873, 248726,   5244, 306116, 161056, 338715, 362149, 214736,
         287528, 307005, 323909, 173648,  89833, 138905,  15575,   9140, 240530,
         293650,  14501, 258201, 105418,  51832, 138803, 134351],
        [257260, 330811, 419858, 239446, 332499,  72424, 274231, 102853, 407554,
         332244, 382067, 157056, 138782,  64966, 379028, 180675, 373916, 126081,
          66220, 257145, 233126, 296096, 322472, 126914, 304744],
        [ 85264, 304619, 313022, 344618, 339394, 205910, 383950, 401967, 365365,
          23676, 102137, 125371,   3341, 132438, 224062, 198787, 158698, 182141,
         132533, 290088, 344641, 201694, 272195, 141012, 361418],
        [278137, 409492, 240337, 466018, 268849, 305400, 445415, 139938, 138067,
         139557, 473885,  46106, 455936, 130380, 163545, 441458, 435325, 148277,
          35704,  57611, 173653, 417989, 278269,  79516, 341788],
        [ 12010, 197074,  55527, 335206, 175479, 111003, 169623, 455608, 334065,
          97166, 379843, 268316, 466514,  61785, 158077, 126057, 182715, 335993,
         161429, 436037, 258959, 255763,  30159, 172756,  99170]])
tensor([[0.0151, 0.0250, 0.9599],
        [0.0342, 0.7075, 0.2584],
        [0.0491, 0.5938, 0.3571],
        [0.0493, 0.0375, 0.9132],
        [0.1935, 0.4525, 0.3539]], grad_fn=<SoftmaxBackward>)

## Once the models are working, we can implement our train method

In [42]:
criterion = nn.CrossEntropyLoss()
lr = 0.1 # learning rate
optimizer = torch.optim.SGD(model.parameters(), lr=lr)
scheduler = torch.optim.lr_scheduler.StepLR(optimizer, 1.0, gamma=0.95)

import time
def train(model, dataset, batch_size=32):
    print("training encoder")
    model.train() # Turn on the train mode
    total_loss = 0.
    start_time = time.time()
    n = len(dataset)
    batch_order = np.arange(n)
    np.random.shuffle(batch_order)
    for i in range(0, n, batch_size):
        x_batch, y_batch = dataset[batch_order[i:min(i+batch_size, n)]]
        print(x_batch)
        break
        optimizer.zero_grad()
        output = model(data)
        loss = criterion(output.view(-1, ntokens), targets)
        loss.backward()
        torch.nn.utils.clip_grad_norm_(model.parameters(), 0.5)
        optimizer.step()

        total_loss += loss.item()
        log_interval = 200
        if batch % log_interval == 0 and batch > 0:
            cur_loss = total_loss / log_interval
            elapsed = time.time() - start_time
            print('| epoch {:3d} | {:5d}/{:5d} batches | '
                  'lr {:02.2f} | ms/batch {:5.2f} | '
                  'loss {:5.2f} | ppl {:8.2f}'.format(
                    epoch, batch, len(train_data) // bptt, scheduler.get_lr()[0],
                    elapsed * 1000 / log_interval,
                    cur_loss, math.exp(cur_loss)))
            total_loss = 0
            start_time = time.time()

In [43]:
train(model, wiki_dataset)

training encoder
[array([     2,     40,      5,    184,     40,   3695,     24,     16,
       390231,    434,   1119,  11151,     67,   3047,   2387,    126,
        20357,   1608,    665,   7637,     67,     85,    449,   1774,
           87,   3069,     21,   6828,     10,  33445,     13, 390232,
          349,      5,    184,  12967,    703,   1075,     21,   6828,
          126,   6287,    124,     10, 103374,     87,   1140,     24,
         2245,     77,    461,     85,   2545,   2415,    342,     10,
       389706,  39693, 390233,    243,    296,   2959,     21,    341,
           60,     77,  12081,   1368,     21,    186,    446,     21,
          212,     10, 284580,   4617,    297,    461,     87,    220,
          158,   6220,     40,    243,  15340,   4219,     16,  13153,
           60,    360,    344,     95,    449,  30588,     87,   2145,
           24,     51,     10,  25811,     77,   1866,    359,    449,
          281,     60,    703,     77,   4538,    237,     10, 390234,
           16,     24,   1289,   1550,   2705,     10,   2773,  13955,
          977,   1119,   7834,     51,   2256,     10,   1094,     77,
           87,  22877,    124,     10,  33445,     87,   2546,     16,
          441,    633,     21, 104803,    239,      5,    126,    850,
         6262, 101834,     16,  11139,  27904,     87,   1242,     24,
          180,     10,  18206,      3])
 array([     2,    975,     10,  29859,     13,    239,    243,   1805,
           21,    126,   3467,     82, 183172,   4357, 200568, 200569,
          496,    742,     21,   5294,    748,   3759,     13,  10524,
        35314,    522,     18,  10211,  36724, 200570,     13,  69256,
           16, 200571, 200572, 200573,  27091,     13,     10,  27257,
           16,  44195,   1592,     13,  69256,     16, 200571, 200574,
        34234,  27091,     13,   1516, 200575,   9250, 200576,  27091,
           13,     10, 200577,     16,  13278, 200578,  27091,     13,
           51,    230,     21, 200579,    180,     13,   2502,    742,
       200580,   3605,     13,   5990,  17139,    234,    359,   4235,
          342,   3605,     21,     10,  11052, 106761,     10, 200581,
           13,    173,  33260,     21,  10524, 264655,     40,    359,
          960,     74,   1259,     16,   5596,  60866,     60, 194689,
       200583,    496,    243,   3073,  60866,    124,    605,   2545,
        11913,  99895,     91,    461,  33037,  34132, 200580,  55423,
       200584,   2967,    181,    173,  17832,  26407,     16,     18,
          576,    359,    829,   1119,  38389,    126,  18953,     13,
           10,  33965,   8105, 148226,    576, 138136,  84654,  93232,
       200585,   6299,     16,   2110,    605,   2721,    221,     13,
           10,    103, 112059,    386,     77,     10,  49093,    124,
          103, 200586,     42,  17048,     16,    296,  93232,  10644,
          243,  32879,    408,  51326,    461,   7980,   4538,    438,
       200588,   7980,    881,  39515,     16, 200589,    108,    114,
          137,  10039,   1000,     82,     10,  33551,     18,   7980,
       107587,  85461,  23179, 200590,  41916,     16,   1178,   9855,
           10,  96548,    559,     10,  17614,   7272, 200591,     13,
           10,   3514,    221,     77,   1206,    778, 136215,     21,
        18271, 132479,     16,  18592,   5202, 192335,    605,    412,
       120928,     18,     40,  11775,   2516,    461,     10, 200592,
         9016,     16,    408,  16597,   6194,  21062,     16,  39566,
         7980,     39,    653,    342,    408,  13252,     16,     60,
          126, 132734,     13,   4678, 200593,  13477,    451,   1119,
          296,  63106,     67,    180,     85,  23721,   7980,  12967,
           10,   1439,    943,     60, 200594,     91,    391,   2451,
         7980,     57,   2858,    443,    357,   7980,    243,   1978,
           60,    180,     10, 109695,   1370,   3806,     16,    461,
         7980,   2737,    408, 200595,   7980,   5570,     21,   1774,
           16,   2689,    126,  22577,  44183,    119,   5881,     13,
        58139,      3])
 array([     2,    975,   6598,     57,   2171,    126,    515,   6598,
           87,     57,    359,     21,    443,    184,    745,     13,
          705,   3721,     10,  45993,     67,   2055,     48,    126,
          579,   7607,  11864,     67,   1186,   2913,  13033,  35522,
         1370,     10,   3446,    124,     10,    978,   2676,   2836,
           48,      9,  27114,  12410, 156136,     21,  15522,    126,
         1084,    744,    291,     87,  15432,     24,    220,     77,
         6445,  35325,     67,     10,    399,   2836,     13,     10,
        45993,   3126,    461,     24,   3024,     40,   1203,     24,
          354,   3024,     40,   7228,    266,    126, 317573,   2253,
         1668,    515,    750,     24,  28231,    975,      3])
 array([     2,   6598,     24,    273,   6598,     18,     87,    243,
         2119,    750,     87,    243, 425572,     24,    186,     24,
        18598,   9140,  57917,      3])
 array([    2,   108,     9,   360,  3456,  3294,   623,    16,    10,
        1095,   977,  1279,   438,     9,  4600, 32739,    57,   365,
         547,     5,   660,    67,   126,  3021,   530,     6,   739,
         240,   126,  2189,  1073,    95,   148,  3773,    23,    24,
         114,    21, 21904,   342,   116,  7926, 23518,   108,   273,
          42,  1178,    93,   660,   342,   239,  1553,     5,    77,
         446,    24,   273,  2743,  7060,    21,   508,   116,  7926,
        2574,  2444,    87,   253,  4465,   273,  1153,    60,   793,
           3])
 array([    2,    24,  1366,   185,   137,  1409, 10509,    13,   116,
         635,  1405,    10, 18041,   114, 96275,     3])
 array([    2, 47299, 18518,    87,  3109,   181, 18519, 18520,   375,
           5,   829,  5967,   342,    10,  3541, 10131,   637, 16763,
         342,   239,  4589,  4660,     3])
 array([     2,  78006,   5181,  34604,    124,     10,   9694,     33,
           48,   4880,    450,    917,     87,    434,     57,   3364,
           21,    350,     10,   7922,     51,  14518,     67,     10,
        28185,     87,    434,   1206,   6644,    126,  12054,     97,
          408,  39864,  14684,     13,     10, 150298,  24750,  22327,
           21,     42,    126,  12950,     16, 161776,     10,  27441,
           40,   2999,     10,    412,    413,     77,   2222,   3364,
       161777,     21,   3663,    461,   7980,    614,    408,    635,
         1113,     16,     87,   3507,     40,     41,     42,     10,
        19890,      3])
 array([     2,     44,    530,     18,    670,    126,   1391,     18,
        13564,   3024,    522,    126,   6653,     18, 105839,    181,
          425,    167,     40,    126, 295353,      3])
 array([     2,    975,   6598, 148524,   6598,  14197,     87,   1808,
          116,   1292,    342,     10, 148524,    375,     16,    243,
         2947,     77,     87,    359,     21,    185,   1690,     87,
          441,   1087,     77,     24,    739,     10,    906,     60,
          116,  10084,   1570,     51,  11071,     87,    434,   1633,
         3800,   4924,   6732,   2187,   4623,     97,    496,      5,
        12410,     16,    446,  12410,      9,    234,     16,    446,
          832,    375,   2908,    234,  15522,   1093,     21,  54356,
           10,    744,   1939,     67,    126,   3808,   3064,     77,
            5,    184,   4963,    260,    923,   1457,     51,   6925,
           16,     40,   9435,    126,   1074,    124,   1846,   1144,
           25,    493,     85,    986,  15259,     87,    441,   1087,
          239,     41,    180,     42,   1030,    342,     10,    394,
         1553,   3563,    975,      3])
 array([     2,    975,   6598,   1084, 124349,      9,   2052,  31680,
         6400, 116059,   4666,   6598,    342, 113086,  15059,   2636,
          660,     67, 114596, 180763,     10,    986,     13,   4666,
        49332,     10,   2319,   1863,     13, 113086, 114596, 169287,
        11296,     77,     10,  42752,      9,   6566,     10,  39818,
       158164,  15658,     16,      9,   3700,   2823,     21,    212,
          158, 357789,      3])
 array([     2,   6598,   5166, 398357,   6598,     87,    242,  45274,
         2157,   1611,  45274,    342,   8882,     87,    243,     57,
        12879,    184,    977,   3110,    622,    342,    583,   7175,
           82,   1866, 398358,      3])
 array([     2,    975,      1,    497,   4343,     21, 271068,    239,
          831,   1119,    173,   1662, 238065,    173,   4636,    243,
         1808,   1314,     67,  72810,     60,     10,   4850,  98772,
          273,  12200, 271069,   5183,   1659, 271070,    291,     51,
           10,    833,     13,     10,   4636, 271071,     40,    243,
          695,    126,    931,     13, 271072,  18810, 239927,     87,
          843,    357,     10,   2684,      5,   7602,    461,     40,
          136,     21,  11076,  89561,     87,   4168,    240,    413,
           21,   4419,    229,    181,     10,  29741, 271073,      1,
         4352,   2362,  12844,     13,    583, 271069,  17371,     40,
          273,    490,     77,    855,   2152,      9,    905,      6,
        87719,    124,    553,     10,   1051,    900,    173, 194243,
            5,    905,   8543,     91, 122189,   1366,      6,   2674,
       271073,      1,    666,  85590,    221,  33570,      5,   1324,
           21,     19,   3931,    239,   1049,     13,     10,   7966,
       180570,     87,    715,     77,    239,    272,      5,    126,
          356,   3603,     67,  25315,     10,  45501,   1206,    167,
           77,   2155,    666,   3188,   1366,  19848,   1155,     51,
        18813,    239,    744,      1,      1,  84379, 104993,   4219,
          153,    126, 165312,  23381,    108,    982,     21,     42,
          109,     97,     10,   1904,     16, 128238,     13, 104993,
           67,    103,  26653,    975,      3])
 array([     2,   7265,     48,     57,   1478,    221,     13,     10,
          888,   1076,     24,   6058,     97,     85,   1094,      5,
          124,  31040,  42762,     48,    184,    126,   5819,     13,
       396019,     16, 396020, 150193,     87,    441,   7146,     60,
          900,     87,  18221,     67,   1084,    621,    708,     42,
         8694,   3659,    148,    139,    349,    530,      6,    296,
         4720,   9454,     21,    522,  13300, 396021,  31040,    243,
          126,  20229,     16,    126, 181054,     16,     77,      5,
         6226,     67,    827,    139,  25149,     91,      6,     67,
         1084,    365,    301, 396022,   9211,     10, 343743,    184,
          126,  17686,      3])
 array([     2,   4871, 380292,    443,  15648,      3])
 array([    2,    24,  7271,    16,   109, 20228,   112,   703,    24,
          25,   235,    21,    26,    77,    87,    25, 43686,  2669,
         855, 40721,   342, 42373,  3011,  1968, 43687,    41,     6,
       18220,   365,    13,    24,    16,    87,    41,    32,   391,
          24, 13575,    42, 43688,    31,     6, 43689,   124,    24,
           3])
 array([    2,  6598, 21361,   986,  6598,   239,   375,   959,     6,
          42, 49711,  1808, 83823, 26235,  1238, 25530,  6500,    87,
         441,   633,    21,   212,   126,  1084,   375,   124, 18097,
        3139,  9133, 33445, 28116,    88,    24,  3728,   703,   184,
          87,   441,  2256,  9657,     3])
 array([    2, 36743,   126, 36744,     5, 36745,  1125,   360,   109,
         112, 36746, 36747,     6,   173, 17875,   296, 22105, 36748,
          16,    25,   443,   173, 19441,    67,  1186,  9977,    21,
       22105,  3618,    24,   549,  1550, 13401, 21405,   243,   393,
        9089,  7228,   543,   126,    54,    51,   126, 17919,  1073,
          77,  1485,   360, 13401, 36749,   114,  1186,   393,    16,
         301,    88,  1378,   450,   975,     3])
 array([     2,      1,     87,    253,    239,    375,    959,     42,
        20386,   1541,     10,  16088, 132647,    744,      3])
 array([     2,    975,      1,  22824,  20471,  76277,   4546, 126895,
        20474, 407739,      1, 126897,   4871,      1,   4871,      1,
       113962,  59022, 113963,  48177, 126898,  59012, 126899,   4871,
           10,    888,  37624,      1,      1, 126898, 113969,  76277,
         4546, 126901,   4871,   2862,     33,     10,    637,    341,
            1,      3])
 array([     2,    975,  78545,  14610,  37737,      1,    108,      5,
          173, 317326,    268,     13,     10,   3446,     16,    108,
            5,    126,  15524,  87615,    920,     18,    145,     82,
        10211,  33262,     10,    910, 316267, 317308,    173,  87615,
          268,   2484,     10,   8907,     16,    154,   1513,     13,
           10,    162,     13,  18500,     13, 115243,  82558,     67,
         3428,     16,   8297,     10, 108847,     10,    268,     77,
           10,    162,     13,  18500, 115243,  82558,     67,   3428,
           16,   8297,     10,  41900,      5,    126,   9731,     13,
         3156,     95,    137,    103,   2973,    162,      5,    126,
        15524,  87615,    268,     16,     40,    831,     93,     21,
          185,     60, 317327,     10, 317328,     16, 317329,     77,
          434,    124,   1259,  10766,     21, 317330,     10,    910,
       316267,     16,     60,     10,   7446,     21,  52530,    796,
           10,    910, 316267,     18,    126,  38237,    124,  11636,
       203512,     16,    103,    522, 317331,   1747,    434,  93596,
        28585, 100557,  14610,   9279,     16,  14610,     16, 316300,
       317332,     67,     10, 317333,  70260,   3064,    342,     10,
         1021,    375,     13,   1084,    301,      9,   2145,     10,
          844,     18,     10,  12417,   8907,     95,  29859,     13,
           10,    910, 317334, 317335,  60446, 317336, 317337,      5,
          126, 274259, 317338,  28154,   3987,   2975,    622,    342,
          173, 317339,  13653,     10,    833,  45219,      5,    126,
       128475,     13,     10,   1841,   1815,    476,   8650,    124,
          689,   2962,  31805,     51,     10,  18486,    910,  16915,
          592, 317340,     16,   2729,   5104,   1076,   2308,   2309,
           21,  10731,     10,   1866,     21,   1037,   1796,     60,
         3591, 317341,   1132,     57,     18,     10,    910, 316267,
            5,    126,      5, 128475,     13,     10,   1841, 317342,
           16, 317343,     10,    910,     95,    833,   1084,      5,
       128475,     13,     10,   1841, 317344,     16, 317345,   4343,
           21,     10, 317346, 317347,   3064,     10,    910,     95,
          833, 317348,      5,     51,     10,  18486,    910, 317344,
          592, 317349,      6,     10,    910, 317350,    173, 260456,
        15859,    162,     51,    349,     10,    910, 317351,      5,
       286629,   7164,     10,    910,   1084,      5,      6,   5407,
           51,     10, 260456,  15859,    910, 317352,     16,     40,
         8907,    831,     93,     21,    185,     60,     10, 317353,
           77,   1125,  52140,  60136,    796,     82,  38443,  15888,
           13,     10, 210881,   8236,     13,     10,    469,     16,
        99123, 317354,   1825,  90319,  69059,     11, 317355,     18,
          145,     82,    130,   1839,     10,    910,     95,    833,
       317348,      5,      6,    126, 128475,     13,     10,    910,
       317356,     16, 317357,     16,     40,    831,  12879,     21,
          185,     60, 317358, 317359,   1866,  93596,    171,     40,
            5, 123236,     21,  47343,   5941,    124,     10,    910,
       317348,     77,     10,  76973,     13, 317360,    451,   2480,
           16,   1185,     10,    110,     13,    158,     16,    180,
       146806,   5941,    342,     10,   4644,    180,   1170,     10,
        10275,     87,    507,    184,      5,   5069,     67,   7655,
         2617,     18,     80,     10,   8907,     16,   2319,    592,
           13,     10,    833, 279147,     87,   1550,     10,    592,
       153734,    124,   1084,   2617,      5,     10,    153, 317361,
          592,     13,    910, 317362,     87,    843,    446,     10,
        72327, 317363,     13,     10,    833, 317348,    273,    715,
           23,    108,    114, 317328,     16, 317329,   1978,    180,
         1170,     10,   3446,   3242,     16,  12076, 173127,     10,
          833,      1,  78545,  14610,    975,      3])
 array([    2,    87,  2076,    67,   173,  8974, 46125,   978, 10350,
          87, 22309,    85, 47625, 47626,    16,   669,   260,  2415,
         342,   239,  5272,    16, 30040,    10,   494,    60, 41998,
       47627,    10, 47626,   434,   137, 47628,   103,   112,   126,
        9027,  5272,    13, 47629,     3])
 array([     2,      1,     97, 146821,     18,  20299,   8907,   3088,
            5,      6,    126, 174006,      1,   1881,     21,  27496,
           16,  45141,   7841,     21,  13538,     10, 174008,     13,
         1084,    124,    130,  27819,  16268,  59038,     16,    103,
          260,    496,    341,     21,   6523,   1863,    124,     16,
         2139,   6617,   2468,  16914,      5,  27496,   3905,     13,
           10,   4334,   2574,     13,   8884,   2340,  64434,     40,
         1150,   4792,    126,   7466,   8702,    220,     82,    221,
         1866,     97,     10,   7466,     13,  69702, 174009,     85,
         2034,     16,     85,   3894,    831,     93,     21,    185,
           60,   8739,     23,    239,      5,    126,   8708,    124,
           24,     21,   1378,    184,     87,     32,    239,      5,
          547,  11853,     10,    272,     87,    253,    831,     21,
         1563,    109,   5102,    341,     16,     47,   9450, 174010,
           39,   1558,   3088,     13,   3179,   6521,     87,   5705,
          260,     60, 146825,   8907,     16,  20288,     21,   3746,
           67,  17371,    403,    239,    272,     41,     42,    832,
          109,   8833,     16,   5275,     51,  13005, 169531,      3])
 array([     2,    975,      1,   1369,   1860,     13,    413,     67,
           85,   1815,   1259,    181,   5280,    141,  37594,     16,
       337839,   3798,    754,    126,   1815, 236823,    754,   1362,
        90668,     60, 196913,     16,  27441,  22682,      5,     10,
          117,     91,     67,  20133,   1076,     16,   1029, 196913,
          200,     42,  31968,     10,    272,     67,   4623,   1068,
           21,     42,   1049,     13,   1584, 337840,    349,      9,
         1076,   1037,     21,   6908,    797,   2277,   6908,    349,
          831,   1764,   1119,    126,    198,   4383,    342,   1815,
       337841,  17302,  51720,  46317,  17302,  28302,   1528,   1570,
       196913,     16,  22682,    434,    126, 337842, 112215,   1362,
         2803,     13,     10,    413,   7050,    296,   4419,     10,
          705,    496,   3765,     24,     21,   3728,     24,    357,
           10,    586,     13, 196913,   5570,     51,     16,   4598,
          240, 100727,     51,     10, 110585,   3452,    219,     87,
         1748, 103694,    715,   1074,     21,   1195,     21,     85,
         3108,    900,   4660,  19087,  19087,    975,      3])
 array([     2,    975,    239,    705,      5,    181,    425,   5101,
        13567,    379,     77,    576,    359,    126,   4608,   1195,
           51, 121091,    898,   2294,    124,   1170,    126,  11047,
          750,    576,    742,    605,    635,    744,    296,    229,
          875,   1372,    576,    243,  12410,   1141,    977, 121093,
          239,    272,    126,  15238,    296,    960,   1869,     77,
       121094,  18274,    975,      3])
 array([     2,   6598,   5703,   6598,     25,     42,  29200,     16,

In [39]:
wiki_dataset[0:2][1]

array([[1, 0],
       [1, 0]])