In [1]:
import torch
import torchvision
import pandas as pd

In [2]:
ls

Train Transformer 1.ipynb  dataloader.py
__pycache__/

In [3]:
from dataloader import *

In [4]:
comment_df = pd.read_csv("../data/attack_annotated_comments.tsv", sep ='\t')
body_df = pd.read_csv("../data/fake_news_bodies.csv")
stance_df = pd.read_csv("../data/fake_news_stances.csv")
vocab = Vocabulary([comment_df["comment"], body_df["articleBody"], stance_df["Headline"]])
annotation_df = pd.read_csv("../data/attack_annotations.tsv",  sep='\t')

wiki_dataset = WikiDataset(comment_df, annotation_df, vocab)
fake_news_dataset = FakeNewsDataset(body_df, stance_df, vocab)

In [5]:
comment_df.head()

,rev_id,comment,year,logged_in,ns,sample,split
0,37675,`-NEWLINE_TOKENThis is not ``creative``. Thos...,2002,False,article,random,train
1,44816,`NEWLINE_TOKENNEWLINE_TOKEN:: the term ``stand...,2002,False,article,random,train
2,49851,"NEWLINE_TOKENNEWLINE_TOKENTrue or false, the s...",2002,False,article,random,train
3,89320,"Next, maybe you could work on being less cond...",2002,True,article,random,dev
4,93890,This page will need disambiguation.,2002,True,article,random,train

In [6]:
body_df.head()

,Body ID,articleBody,sentence_as_idx
0,0,A small meteorite crashed into a wooded area i...,"[2, 126, 2627, 7088, 36713, 1541, 126, 64723, ..."
1,4,Last week we hinted at what was to come as Ebo...,"[2, 978, 9959, 301, 27551, 181, 184, 243, 21, ..."
2,5,(NEWSER) – Wonder how long a Quarter Pounder w...,"[2, 453967, 6041, 843, 446, 1764, 126, 28996, ..."
3,6,"Posting photos of a gun-toting child online, I...","[2, 6277, 11409, 13, 126, 185851, 6544, 7820, ..."
4,7,At least 25 suspected Boko Haram insurgents we...,"[2, 181, 425, 2299, 27854, 420528, 12253, 1034..."

In [7]:
stance_df.head()

                                            Headline  Body ID     Stance
0  Police find mass graves with at least '15 bodi...      712  unrelated
1  Hundreds of Palestinians flee floods in Gaza a...      158      agree
2  Christian Bale passes on role of Steve Jobs, a...      137  unrelated
3  HBO and Apple in Talks for $15/Month Apple TV ...     1034  unrelated
4  Spider burrowed through tourist's stomach and ...     1923   disagree

In [39]:
stance_df['Stance'].unique()

array(['unrelated', 'agree', 'disagree', 'discuss'], dtype=object)

In [38]:
annotation_df.head()

,rev_id,worker_id,quoting_attack,recipient_attack,third_party_attack,other_attack,attack
0,37675,1362,0.0,0.0,0.0,0.0,0.0
1,37675,2408,0.0,0.0,0.0,0.0,0.0
2,37675,1493,0.0,0.0,0.0,0.0,0.0
3,37675,1439,0.0,0.0,0.0,0.0,0.0
4,37675,170,0.0,0.0,0.0,0.0,0.0

In [50]:
fake_news_dataset.y.mean(axis=0)

array([0.73130953, 0.07360122, 0.01680941, 0.17827984])

In [53]:
np.array([np.array(x) for x in fake_news_dataset.x])

array([array([     2,   9064,    543,   3470,  15547,     60,    181,    425,
       452490, 473495,   5122,  21717,   5557,    357,  68000,  16242,
        23610,   2110,   9064,   1329,      3,      2,  12701,  70946,
            5,  41000,     10,  96790,    748,  88758, 241925,      5,
           80,  24993,     21,   2433,  15651,   6485,   2316, 455896,
           67, 461037,   2316,  15887, 458699,  12701,  70946,      5,
        41000,     10,  96790,   3261,    622,    342,  23209, 285237,
         3021,     16,  70667,     82,  70848, 457707,    349,      5,
          221,     13,     10,    544,  53088, 454830,     67,   1309,
          585,   4478,    434,      6,    297, 265230,     16,  16233,
            6,    148,    290,     23, 241925,    831,    173,   3011,
        72889,     91,     10,  10021,   4660,  56424, 457714, 454838,
       454839,     16,   1775,  19455,   4660,    434,   2883,    513,
        60239,    342,     10,  44587,     16,      9,     67, 143774,
           13,   1082,    239,    200,    180,     42,    124,  52674,
           18,   1078, 196059,     10,  24353,    496,      5,     21,
         2433,  41083,      5,    293,     67,     10,  20934,     13,
        24825,    605,  54560,   6978,    277,     77, 461038,   5592,
            5,     67,    126,  16681,  76155,  91820,    277,  70946,
           41,      5,   5001,     21,  17207,  17208,     21,  10880,
           60,  36667,     21,   2433,    221,     13,     10,   7970,
       240216,    173,  44008,     21,  67804,  91820,    277,     77,
        61143, 457705,      5,    221,     13,     10,  35746,    342,
           10,  25097,   3734, 456764,   1359,     18, 461039, 118955,
        15651,     60,  15887,     16,  24052, 327559,    576,    412,
         7915,  15887,    461,    234,    668,    181, 191569,     16,
          418,    243,   4133,    124,    689,     10,    399,  15651,
        67813,      3]),
       array([     2,   3483,     13,  11461,  32750, 205516,     67,   4385,
           18,   3086,  51501, 205517,      3,      2,   3483,     13,
        11461,    114,  96600,     51,    513,  12589,  35318,   8539,
         2110,   3089,   4483,  12323,    126,    506,     13, 205517,
         5122,     10,  26474,  93598,     10,   4385,  17206,     67,
           10,  10093,     13,    126,   1309,  21839,  16257,   2177,
           10,   4385,  13830,     13,   7708,    599,     67,    126,
          494,     77,  10797,  12784,  14713,     16,  39190,     51,
           10,  13830,     13,   1281,   1663,    359,  96600,    109,
          112,  29427,   2424,     51,     49,   5346,     13,     10,
         4385,  17206, 455874, 455875,   2110,    513,  12589,  31623,
           18,   5403,  16704,  16270,    109,    112,     74, 308116,
         4385,    831,  15870,  93598,     67,   1309,   2836, 106092,
          126,   2913,   4448,     77,   2685,  32018,   6862,     16,
        41376,  24272,  35951,   3618,     10,   4448,  67625,  12686,
           16,   3923,  47260,    124,  47683,     13,  71161,   2604,
          666,     13,     10,   6587, 111517,  11461,    893,  54164,
           82,  14359,   4562,   1170,   6265,     10,  38538,      5,
        65060,     82,     10,   1409,     77,   3086,    831,  41913,
          126,   6302,  57464,   1170,   4385,    124,     10,    978,
        23543,   2022,  15804,   5302,   4756,     16,     10,   2833,
           13,  11171,    124, 455876,     40,    831,   1206,  34245,
           10,  67625,     51,  50906,    513,  62196,     18,   8385,
        13403,      9,   5133,   7834,     51, 455877,   4385,  10797,
        12784,  14713,   7326,  11961, 455878,   3765,     77,   2362,
         7114,    340,     42,   3923,     23,   3086,  51501,     33,
          109, 205517,     67,     10,   9201,  12879,     77,   5403,
            5,   4740,  44011,    181,    126,   2018,  23562,     51,
           10,   3086,  10890,   3038,     10,  17206,     16,   1541,
           10,  16365,  16366,  96600,   2424,    434,   1119,   4235,
           21,  54165,  22641,     82, 455879,     10,   3549,  26510,
          124,    334, 447705,     67, 455880,  12786,  10909,     16,
           67, 455881,  46015,     67,     10,   4470,   4385,  12848,
           10,   4385,  17206, 455874, 455875,      5,    126,  87968,
         4078,     67,     10,   4470,   4385,   4386,    524, 455882,
        12786,  10909,     16, 455883,     40,      5,    772, 455884,
           67,  13299,     16,     40,   4177,     51,    516,  64785,
       454127,    221,   2440,   1073,   7433,     51,   5122, 455885,
           16,     10,    103,     51,   5122, 455886,   3089, 205517,
          342,     10,  33068,     21,  16575, 455887,    434, 153547,
           33,     10, 210813,   5338,  12261,     16,   3899,     10,
          153,   1073,     13,   7703,   5403,     67,     10,  26644,
        45571,    434,   5596,     21,    110,     40,     21,  91596,
           13,    513,   8717,    124,   2512,     13,    103,   4016,
           21,    185,   2452,   1570,    689,    173,  25606, 386488,
          239,      5,      6,     10,    412,    413,   3089,   4483,
          434,  12323,     10,   4385,  17206, 455888,     67,  52134,
       398020,   3089,   4483,   1206,  12323,     10, 205517, 106092,
        14998,  93598,     67,     10,   4385,  12848,     10,   4796,
       205516,   6730,  12686,     13,  12589,     16,   3048,    666,
         2424,     67,     10,   4383,     51,    513,  22570,     67,
         1419,     10, 205517,    114,  12323,     18,   2328,  15015,
         3487,   2424,     51,    513,  22570,    181,     10,    413,
        10797,  12784,  14713,    599,     77,    234,    359,  30054,
           21,   1989,  11130,    260,    496,    359,   1119,    181,
        16689,     13, 455889,      3]),
       array([     2,   1078, 136027,  19368,    342,    456,     13,   2316,
        41083,  24353,  32425,    366,    576,    242,    587,    124,
         1049,      3,      2, 439985,  26730,  17223,    243, 266452,
           60,  12279,    654,  21883,  18463,     18,     40,   5116,
         1359, 455622,     67,     10,   9140,     13,  15221,     10,
           35,    364,     77,    605,   5313,  24605, 455623,     67,
           10, 455624,     16,     39,  81596,   1116,    605, 304842,
       106966,     16,  13456,  14046,    114,  14094,     60,  19008,
        13869,     48,  10708, 344996,    180,     10,  24844,   1861,
       312812,     48,     87,   7915,    126,  26150,    181,     10,
        10457,     16,     39,    301,   4538,     21,     10, 401037,
          124,    126, 455625,     87,   2116,     77,     87,    359,
          126,  84677,     16,    109,    185,      6,   7355,     48,
          599,   1464,   1009,  12517,  80660,    181,     10,  41809,
           10,     35,   5970,    760,     67,  52928,  11091,  15217,
          114,   4151,     21,   1369,    126,   2134,   4447,    342,
           10,  32522,     48,     87,   1372,     87,    359,     57,
        76987,     91,    181,     10,  20762,    234,   2145,    703,
           77,     87,    397,     10, 124294,     48,   2145,   1464,
           97,    605,   3735, 299307,     48,     10,  27266,    359,
        11038,  63081,   4447,     48,    576,   1704,    438,  80957,
           16, 455626, 312812,    301,     88,    277,     77,     10,
        64427,    114,   1105, 121650,     95, 128533,     48,  15217,
         4845,  31802,     10,  13651,     13,     10,  12313,     35,
            5,    293,   1142,     77,    408,    409,    243,     67,
           10,  20762,    365,     13,  24459,    342,     10,  88648,
         3923,     82,    126,   1208,   4700,      3]),
       ...,
       array([    2, 21717,  1485,  2655, 16242,     6,   393,    67,   412,
        3470, 15547,     3,     2,    10, 23331,   393,    67,   126,
        3470, 12396,   114, 11760,    18,     6,    80,    10,  2655,
       19214,     3]),
       array([     2,    138, 473675,    478, 192291,  46555,    434,   1119,
       198941,   1949,   3138,   2279,  10890, 207859,      3,      2,
        79146,  88309,  50170, 463264,   2145,  65490,  11911, 458259,
         9700,     77,    478, 192291,  46555,    434,  27311,     10,
        10890,     51,  21717,   1541,   3366,  65490,  11911, 463265,
           24,    277,  69283,   1949,     67,     10,   2279,  10890,
          349,    387,     10, 123879,    185,     24,    434,    158,
          392,     95,    158,   6335,     77,    234,      9,    497,
         1949,     67,     10,   2279,  10890,  10036,  79146, 463266,
         2923, 463267,   3728,    703,    184,     24,  16029,  79146,
       463266,     87,    186,     77,    181,    425,    478, 192291,
        46555,    434,   1119,    608,   1949,   3138,     10,   2279,
        10890,     67, 184532,   8389,    342,     10,  28954,     67,
         7577,  79146,  16644, 455229, 463268,   1206,    599,   5073,
         1359,   3407,    114, 198941,    181,     10,     10,    138,
        10890,     67,   8991,     16,    114,    293,     80,  55353,
            3]),
       array([     2,  37835,   1104,     67,   9799,  28746,  10923,   6846,
       473550,      3,      2,    126,   2437,   2117,  24353,    496,
         7915,    126,   1351,  10708,     16,  60123,    408,     67,
          126, 401037,  27730,     33,     21,    543,    605, 124294,
          359,   1119,  67032, 281386, 457593,   4307,      5,   3721,
           21,     42,     10,   6529,     13,    126,  12506,   6041,
         2604,    126,  14134,   6041,    349,    200,     42, 215000,
        46447,     21,  22273,    342,     10,  10149,   3620, 462023,
          359,    126,  14441,     60,    126,   1351,  71841,  10708,
          576,   7915,    181,    126,  27055,     67,    126,  26730,
        20559,    750,   7980,  18090,    985,     21,    126, 455624,
         6324, 458275,    126,   9064,   1073,   2145,     10,  16638,
       460319,  60123,     16,    359,    137,    109,   9114,     16,
         2110,     77,     10,  24353,  35366, 470410,    234,   1550,
       470411,  14441,    243, 470412,    576,  27730,     33,     10,
         2253,    324,    181,    126,  35435,   1091,     67,  39004,
         3211,     16,   2245,   1861,    342,    605, 457599,    181,
           10,  20762,  14799,   2145,    985,     77,    605, 124294,
          359,   1119,    397,     16,     77,     40,   7170,     10,
         4447,    359,   1119,   1062,     82,    126,   6116, 101707,
         9064,   1550,     10,  12506,      5,  18087,   2861,  46447,
           21,  22273,    342,     10,  10149,   3620,   1625,   2522,
          496, 470413, 178915, 470414,  27214,     13,   3852,  13629,
           67,  20762,    357,    408,   1352,   3175,    243,  20608,
         1625,     35, 269809, 470415,     13,  45258,     60,    605,
        68844,  20156,    685,   1370,      3])], dtype=object)

In [60]:
annotation_df['attack']

0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
5          0.0
6          0.0
7          0.0
8          0.0
9          0.0
10         0.0
11         0.0
12         0.0
13         0.0
14         0.0
15         0.0
16         0.0
17         0.0
18         0.0
19         0.0
20         0.0
21         0.0
22         0.0
23         0.0
24         0.0
25         0.0
26         0.0
27         0.0
28         0.0
29         0.0
          ...
1365187    1.0
1365188    0.0
1365189    0.0
1365190    0.0
1365191    0.0
1365192    0.0
1365193    0.0
1365194    0.0
1365195    0.0
1365196    0.0
1365197    0.0
1365198    0.0
1365199    0.0
1365200    1.0
1365201    0.0
1365202    1.0
1365203    0.0
1365204    0.0
1365205    0.0
1365206    0.0
1365207    0.0
1365208    0.0
1365209    0.0
1365210    0.0
1365211    0.0
1365212    0.0
1365213    0.0
1365214    0.0
1365215    0.0
1365216    0.0
Name: attack, Length: 1365217, dtype: float64

In [68]:
a = np.array([1, 1, 0, 1, 0])
n = 2 # num classes
b = np.array([np.array([int(i == j) for i in range(n)]) for j in a])
b

array([[0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [1, 0]])